<!DOCTYPE html>
<html>
    <head>
        <%- include('../../partials/head') %>
        <title>Book Details</title>
    </head>
  <body>
    <%- include('../../partials/header') %>
    <h2 class="header-two">Search Results</h2>
    <div id="books-populating">
      <% results.forEach(book => { %>
        <div class="each-book">
          <img src="<%= book.image_url %>" class="book-image"/>
          <section>
            <% if (book.subtitle) { %>
              <p class="book-title"><%= book.title %>: <%= book.subtitle %></p>
            <% } else { %>
              <p class="book-title"><%= book.title %></p>
            <% } %>
              <p class="book-author"><%= book.author %></p>
              <p class="book-description"><%= book.description %></p>
              <p class="book-isbn"><%= book.isbn %></p>
            </section>
            <form id="hide-me" action="/books" method="post">
              <input type="text" name="title" value="<%= book.title %>">
              <input type="text" name="author" value="<%= book.author %>">
              <input type="text" name="isbn" value="<%= book.isbn %>">
              <input type="text" name="image_url" value="<%= book.image_url %>">
              <textarea name="description" value="<%= book.description %>" cols="30" rows="5"><%= book.description %></textarea>
              <button type="submit" id="show-me" class="button">Add to Database</button>
            </form>
        </div>
      <% }) %>
  </div>
    <%- include('../../partials/footer') %>
  </body>
</html>