<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head') %>
        <title>Book Search</title>
    </head>
  <body>
    <%- include('partials/header') %>
    <h1 id="book-count">Book Count: <%= books.length %></h1>
    <div>
      <ul>
        <% books.forEach((book) => { %>
          <div class="each-book">
            <img src="<%= book.image_url %>" class="book-image"/>
            <li class="book-title"><%= book.title %></li>
            <li class="book-author"><%= book.author %></li>
            <button class="view-details" type="button">View Details</button>
          </div>
        <% }) %>
      </ul>
    </div>

    <%- include('partials/footer') %>

  </body>
</html>