<!-- <!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head') %>
        <title>Individual Book</title>
    </head>
  <body>
    <%- include('partials/header') %>
    <div id="single-book">
        <div class="each-book">
            <img src="<%= singlebook.image_url %>" class="book-image"/>
            <p class="book-title"><%= singlebook.title %></p>
            <p class="book-author"><%= singlebook.author %></p>
        </div>
    </div>
    <%- include('partials/footer') %>
  </body>
</html> -->