<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head') %>
        <title>Book Details</title>
    </head>
  <body>
    <%- include('partials/header') %>
    <button class="individual-page" type="button"><a href="/books">View All Books</a></button>
    <% if(message) { %>
        <h3 class="message"><%= message %></h3>
    <% } %>
    <div id="single-book">
        <div class="each-book">
            <img src="<%= books.image_url %>" class="book-image"/>
            <p class="book-title"><%= books.title %></p>
            <p class="book-author"><%= books.author %></p>
            <p class="book-description"><%= books.description %></p>
            <p class="book-isbn"><%= books.isbn %></p>
        </div>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>