<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head') %>
        <title>Book Details</title>
    </head>
  <body>
    <%- include('partials/header') %>
    <button class="individual-page" type="button"><a href="/books">View All Books</a></button>
    <div id="single-book">
        <% books.forEach((book) => { %>
        <div class="each-book">
            <img src="<%= book.image_url %>" class="book-image"/>
            <p class="book-title"><%= book.title %></p>
            <p class="book-author"><%= book.author %></p>
            <p class="book-description"><%= book.description %></p>
            <p class="book-isbn"><%= book.isbn %></p>
        </div>
        <% }); %>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>